@page
@model RazorFirst.Pages.SetModel
@{
}
<form method="post">
    <div class="form-group">
        <label for="value" class="form-label">Hodnota:</label>
        <input type="number" 
            asp-for="Input.Value"
            class="form-control" />
    </div>
    <p>@Model.Input.Value</p>
    <button type="submit" class="btn btn-primary">Nastavit</button>
</form>
<!--
                name="value"
            value="@Model.Value"
    -->